.bio p {
   margin-bottom: 5px;
   margin-top: 5px;
}

.bio {
      img {
      border: 1px solid var(--white);
      margin-top: 10px;
      max-height: 400px;
      max-width: 100%;
   }

   .awards {
      display: flex;
      font-size: .9em;
      justify-content: center;
      align-items: center;

      img {
         border: none;
         margin-top: 0;
         margin-right: 5px;
      }

      a {
         line-height: 0;
      }
   }
}

.bio .section h1 {
   margin-bottom: 15px;
}