:root {
   --primaryColor: var(--tfpurple);
   //--dark-gray: rgba(0, 0, 0, 0.8);
   --black: #000000;
   --dark-gray: #191919;
   --bright-blue: #40e6f0;
   --light-blue: #b3d4fc;
   --medium-white: #dedddd;
   --dark-white: #e1e1e1;
   --white: rgb(247, 247, 247);
   --truewhite: #ffffff;
   --red: rgb(169, 47, 45);
   --yellow: rgb(207, 168, 63);
   --blue: rgb(68, 138, 134);
   --intelgrey: rgb(133, 136, 149);
   --purple: rgb(206, 145, 207);
   --bfBlue: #0035A2;

   --tfpurple: #8120a4;

   --linkColor: var(--purple);
}
