.header {
   justify-content: space-between;
}

.logo {
   width: 30%;
}

.menu-item-70 {
   display: none;
}

.logo img {
   max-width: 100%;
}

.nav {
   align-items: center;
   display: flex;
   width: 100%;

   .menu-nav-container {
      display: flex;
      width: 100%;
      justify-content: flex-end;
   }
}

.menu {
   text-transform: uppercase;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   font-size: 1.2em;
   font-weight: 700;
   list-style-type: none;
   width: 100%;

   &:last-child {
      margin-right: 0;
   }
   
   li {
      padding-left: 0;
      margin-right: .8rem;

   }
}

.menu a {
   list-style-type: none;
   text-decoration: none;
}

/*.menu a:hover {
   color: var(--white);
}*/

@media (max-width: 850px) {
   .header {
      flex-direction: column;
   }

   .logo {
      display: flex;
      justify-content: center;
      width: 100%;

      a {
         max-width: 200px;
      }
   }

   .menu {
      justify-content: center;
   }
}

@media (max-width: 730px) {
   .section h1 {
      line-height: 1.1em;
   }
}