body {
   padding: 5px;
}

a {
   color: var(--truewhite);
   font-weight: 700;
   text-decoration: none;
}

#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-customize,
#wp-admin-bar-wp-logo,
#wp-admin-bar-site-name
 {
    display: none;
}

#wp-admin-bar-site-name a::before {
    content: '';
    display: none;
}

.quicklinks {
    display: flex;
    justify-content: flex-end;
}

.section.sotm {
    background-color: var(--tfpurple);
    color: var(--medium-white);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 12px 1px var(--white);
    margin-bottom: 10px;

    img {
        margin-left: .5rem;
        margin-right: .5rem;

        @media (max-width: 560px) {
            display: none;
        }
    }
}

a:hover {
   color: var(--light-blue);
}

.container {
   lost-center: 1080px;
   lost-utility: clearfix;
}

.main {
   padding-left: 5px;
   padding-right: 5px;
}

.section {
   background-color: var(--black);
   border: 1px solid var(--medium-white);
   line-height: 1.5em;
   margin-right: -2px;
   margin-top: 7px;
   padding: 10px;
}

.section h1 {
   margin-bottom: 5px;
}

.row {
   lost-column: 1/1;
}

.Zebra_Tooltip {
    background: var(--dark-gray);
    border: 1px solid var(--dark-white);
    font-size: 14px;
}

@media (max-width: 782px) {
    #wp-admin-bar-site-name,
    #wp-admin-bar-wp-logo,
    #wp-admin-bar-site-name,
    #wp-admin-bar-customize,
    #wp-admin-bar-new-content,
    #wp-admin-bar-comments {
        display: none !important;
    }
}