.specs .subnav {
    background: var(--red);
    border: 1px solid var(--white);
    text-transform: uppercase;
    width: 20%;
    transition: all 0.5s ease;

    &:hover {
        background: var(--white);
        color: var(--black);
    }

    @media (max-width: 900px) {
        font-size: .7rem;
    }

    @media (max-width: 650px) {
        width: 40%;
        margin-bottom: 5px;
    }
}

.specs .subnav-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.specs h4 {
   font-size: 1.2em;
}

.specs h3 {
   font-size: 1.3em;
}

.specs ul {
   margin-top: 0;
}

.specs .disclaimer {
    font-size: .8rem;
    line-height: 1rem;
}