.specs .subnav {
    background: var(--red);
    border: 1px solid var(--white);
    text-transform: uppercase;
    width: 20%;
    transition: all 0.5s ease;

    &:hover {
        background: var(--white);
        color: var(--black);
    }
}

.specs .subnav-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.specs h4 {
   font-size: 1.2em;
}

.specs h3 {
   font-size: 1.3em;
}

.specs ul {
   margin-top: 0;
}

.specs .disclaimer {
    font-size: .8rem;
    line-height: 1rem;
}

@media (max-width: 450px) {
   .specs .subnav {
      font-size: .9rem;
   }
}